#main
      {   
      	float: left;
      	width: 78%;
      	height: 60px;
      }
      #main h2
      {
      	padding: 10px;
      	margin:20px 15px 0px 10px;
      	font-size: 22px;
	    text-shadow: 2px 2px 2px #727272;
      }
#img
{
  height: 200px;
  width: 250px;
  margin:0px 15px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 200px;
			height: 200px;
			border-radius: 100%;
         
       		}
		#paragraph
		{  

			padding: 20px;
			font-size: 1.2em;
			width: 75%;
			}

			#content
			{
  				  height: 990px;
  				float: left;
 				width: 90%;
 				 background-color: #fcfcfc;
 				 font-size: 1.2em;

			}

	    #content h2
         {
              margin-left: 20px;
              font-size: 22px;
	        text-shadow: 2px 2px 2px #727272;
             }
              #content p
              {
               margin-left: 40px;
              }
			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 400px;
				margin-top: 990px;
                  
			}
			a{
				padding: 30px;
			}
			.click
			{
			  float: right;
			  margin:330px 420px 0px 0px;
			  padding-left: 20px;

			}
			.click a:hover 
			{
                   color: green;
                   transition: all 0.8s;
			    	text-decoration: underline;
			}
			.click i
			{
				font-size: 2em;
			}
@media only screen and (max-width: 1150px)
{
	#main

      {   
      	float:left;
      	width: 73%;
      	height: 50px;
      }
      #main h2
      {
      	padding: 5px;
      	margin:20px 0px 0px 15px;
      	 font-size: 20px;
      }	
	#img
{
  height: 200px;
  width: 200px;
  margin:0px 0px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 180px;
			height: 180px;         
       		}	
		#paragraph
		{  

			padding: 18px;
			font-size: 1.2em;
		   width: 75%;
			}
			#content
			{
  				  height: 1040px;
 				 font-size: 1.15em;

			}

	    #content h2
         {
            margin-left: 15px;
              font-size: 20px;
             }
    #content p
    {
    	margin-left: 30px;
    }
			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 350px;
				margin-top: 1040px;
                  
			}
			a{
				padding: 15px;
			}
			.click
			{
			  float: right;
			  margin:250px 370px 0px 0px;
			  padding-left: 25px;

		}
		.click i
		{
			font-size: 1.8em;
		}

}
@media only screen and (max-width: 1024px)
{
	#main

      {   
      	float: left;
      	width: 72%;
      	height: 40px;
      }
      #main h2
      {
      	padding: 5px;
      	margin:10px 0px 0px 12px;
      	 font-size: 19px;
      }
	#img
{
  height: 170px;
  width: 170px;
  margin:0px 0px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 170px;
			height: 170px;         
       		}	
		#paragraph
		{  

			padding: 16px;
			font-size: 1.1em;
		width: 80%;
			}
			#content
			{
				width: 100%;
  				  height: 910px;
 				 font-size: 1.12em;

			}

	    #content h2
         { 
           margin-left: 12px;
              font-size: 19px;
             }
         #content p
        {
    	margin-left: 25px;
         }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 400px;
				margin-top: 910px;
                  
			}
			a{
				padding: 15px;
			}
			.click
			{
			  float: right;
			  margin:360px 350px 0px 0px;
			  padding-left: 25px;

		}
		.click i
		{
			font-size: 1.8em;
		}

}
@media only screen and (max-width: 900px)
{

     	#main

      {   
      	float: left;
      	width: 74%;
      	height: 25px;
      }
      #main h2
      {
      	padding: 10px;
      	margin:2px 0px 0px 8px;
      	 font-size: 18px;
      }
	#img
{
  height: 140px;
  width: 140px;
  margin:0px 0px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 160px;
			height: 160px;         
       		}	
		#paragraph
		{  

			padding: 18px;
			font-size: 1.09em;
		    width: 80%;
			}
			#content
			{
  				  height: 920px;
 				 font-size: 1.12em;
 				 width: 100%;

			}

	    #content h2
         {
           margin-left: 10px;
              font-size: 18px;
             }
    #content p
    {
    	margin-left: 20px;
    }
			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 400px;
				margin-top: 920px;
                  
			}
			a{
				padding: 15px;
			}
			.click
			{
			  float: right;
			  margin:380px 300px 0px 0px;
			  padding-left: 25px;

		}
		.click i
		{
			font-size: 1.6em;
		}
	}

@media only screen and (max-width: 800px)
{
		#main

      {   
      	float: left;
      	width: 74%;
      	height: 15px;
      }
      #main h2
      {
      	padding: 5px;
      	margin:2px 0px 0px 12px;
      	 font-size: 18px;
      }
	#img
{
  height: 150px;
  width: 150px;
  margin:5px 0px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 150px;
			height: 150px;         
       		}
		#paragraph
		{  

			padding: 18px;
			font-size: 1.06em;
		  width: 80%;
			}
			#content
			{  width: 100%;
  				  height: 1160px;
 				 font-size: 1.1em;

			}

	    #content h2
         {
           margin-left: 10px;
              font-size: 18px;
             }
#content p
    {
    	margin-left: 15px;
    }
			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 300px;
				margin-top: 1160px;
                  
			}
			a{
				padding: 15px;
			}
			.click
			{
			  float: right;
			  margin:270px 200px 0px 0px;
			  padding-left: 25px;

		}
		.click i
		{
			font-size: 1.6em;
		}

}
@media only screen and (max-width: 700px)
{
		#main
      {   
      	float: left;
      	width: 74%;
      	height: 12px;
      }
      #main h2
      {
      	padding: 1px;
      	margin:0px 0px 0px 8px;
      	 font-size: 17spx;
      }
#img
{
  height: 110px;
  width: 110px;
  margin:8px 5px 0px 100px;
  width: 20%;
  float: right;
}
		img{
			width: 110px;
			height: 110px;
	       		}	
		#paragraph
		{  
             
			padding: 8px;
			font-size: 16px;
			width: 88%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1220px;
  				  float: left;
 				 font-size: 1.02em;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 17px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 210px;
				margin-top: 1220px;
                  
			}
			a{
				padding: 10px;
			}
			.click
			{
			  float: right;
			  margin:220px 180px 0px 0px;
			  padding-left: 10px;

			}
			.click i
			{
				font-size: 1.6em;
			}
}	
@media only screen and (max-width: 620px)
{
		#main
      {   
      	float: left;
      	width: 74%;
      	height: 6px;
      }
      #main h2
      {
      	padding: 1px;
      	margin:0px 0px 0px 8px;
      	 font-size: 16px;
      }
	
#img
{
  height: 100px;
  width: 100px;
  margin: 10px 0px 90px;
  width: 20%;
  float: right;
}
		img{
			width: 100px;
			height: 100px;
	       		}
	#paragraph
		{  
             
			padding: 7px;
			font-size: 15px;
			width: 88%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1225px;
  				  float: left;
 				 font-size: 1em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 250px;
				margin-top: 1225px;
                  
			}
			a{
				padding: 10px;
			}
			.click
			{
			  float: right;
			  margin:200px 140px 0px 0px;
			  padding-left: 10px;

			}
			.click i b
			{
				font-size: 0.7em;
			}
			.click i
			{
				font-size: 1.6em;
			}
}
@media only screen and (max-width: 550px)
{
		#main
      {   
      	float: left;
      	width: 74%;
      	height: 5px;
      }
      #main h2
      {
      	padding: 0px;
      	margin:0px 0px 0px 6px;
      	 font-size: 16px;
      }
#img
{
  height: 100px;
  width: 100px;
  margin:8px 0px 0px 100px;
  width: 20%;
  float: right;
}
		img{
			width: 100px;
			height: 100px;
	       		}
	#paragraph
		{  
             
			padding: 5px;
			font-size: 14px;
			width: 88%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1300px;
  				  float: left;
 				 font-size: 0.98em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 220px;
				margin-top: 1300px;
                  
			}
			a{
				padding: 10px;
			}
			.click
			{
			  float: right;
			  margin:190px 140px 0px 0px;
			  padding-left: 10px;

			}
			.click i b
			{
				font-size: 0.7em;
			}
			.click i
			{
				font-size: 1.5em;
			}
}
@media only screen and (max-width: 500px)
{
		#main
      {   
      	float: left;
      	width: 74%;
      	height: 4px;
      }
      #main h2
      {
         padding: 0px;
      	margin:0px 0px 0px 6px;
      	 font-size: 16px;
      }
#img
{
  height: 90px;
  width: 90px;
  margin:8px 0px 0px 100px;
  width: 20%;
  float: right;
}
		img{
			width: 90px;
			height: 90px;
	       		}
	       		#paragraph
		{  
			padding: 5px;
			font-size: 14px;
			width: 88%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1320px;
  				  float: left;
 				 font-size: 0.97em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 220px;
				margin-top: 1320px;
                  
			}
			a{
				padding: 10px;
			}
			.click
			{
			  float: right;
			  margin:180px 140px 0px 0px;
			  padding-left: 10px;

			}
			.click i b
			{
				font-size: 0.7em;
			}
			.click i
			{
				font-size: 1.4em;
			}
}
@media only screen and (max-width: 470px)
{
	#main
      {   
      	float: left;
      	width: 74%;
      	height: 4px;
      }
      #main h2
      {
      	padding: 0px;
      	margin:0px 0px 0px 4px;
      	 font-size: 15px;
      }
#img
{
  height: 90px;
  width: 90px;
  margin:0spx 20px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 95px;
			height: 95px;
	       		}
	
		#paragraph
		{  
             
			padding: 5px;
			font-size: 14px;
			width: 88%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1540px;
  				  float: left;
 				 font-size: 0.96em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 210px;
				margin-top: 1540px;
                  
			}
			a{
				padding: 8px;
			}
			.click
			{
			  float: right;
			  margin:180px 60px 0px 0px;
			  padding-left: 5px;

			}
			.click i b
			{
				font-size: 0.7em;
			}
			.click i
			{
				font-size: 1.2em;
			}
}		
@media only screen and (max-width: 435px)
{
	#main
      {   
      	float: left;
      	width: 74%;
      }
      #main h2
      { padding: 0px;
      	margin-left:4px;
      	 font-size: 14px;
      }
#img
{
  height: 90px;
  width: 90px;
  margin:4px 20px 0px 100px;
  width: 20%;
  float: right;
}
		img{
			width: 90px;
			height: 90px;
	       		}
		#paragraph
		{  
             
			padding: 2px;
			font-size: 14px;
			width: 88%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1540px;
  				  float: left;
 				 font-size: 0.96em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 210px;
				margin-top: 1540px;
                  
			}
			a{
				padding: 8px;
			}
			.click
			{
			  float: right;
			  margin:180px 60px 0px 0px;
			  padding-left: 5px;

			}
			.click i b
			{
				font-size: 0.7em;
			}
			.click i
			{
				font-size: 1.1em;
			}
}		
@media only screen and (max-width: 390px)
{
		#main
      {   
      	float: left;
      	width:74%;
      }
      #main h2
      {
      	padding: 0px;
      	margin-left: 4px;
      	 font-size: 14px;
      }
#img
{
  height: 90px;
  width: 90px;
  margin:4px 20px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 85px;
			height: 85px;
	       		}
		#paragraph
		{  
             
			padding: 2px;
			font-size: 14px;
			width: 88%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1450px;
  				  float: left;
 				 font-size: 0.92em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
        {
    	margin-left: 1px;
         }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 210px;
				margin-top: 1470px;
                  
			}
			a{
				padding: 8px;
			}
			.click
			{
			  float: right;
			  margin:180px 60px 0px 0px;
			  padding-left: 5px;

			}
			.click i b
			{
				font-size: 0.7em;
			}
			.click i
			{
				font-size: 1.1em;
			}
}					
			