body
{
	padding: 0px;
	margin: 0px;
	animation: bgcolor infinite 15s;
}
h2
{
	font-family: comic sans ms;
	padding: 0px;
	margin: 0px;
	font-size: 3em;
	text-shadow: 2px 2px 2px #242424;
	color: white;
	margin-top: 250px;
    text-align: center;
}
@keyframes bgcolor {
	0%
	{
		background:#727272;
	}
	5%
	{
		background:#371c1c;
	}
	10%
	{
		background:#5e005e;
	}
	15%
	{
		background:#000040;
	}
	20%
	{
		background:#00ff40;
	}
	25%
	{
		background:#6f6fff;
	}
	30%
	{
		background:#3fc09c;
	}
	35%
	{
		background:#888077;
	}
	40%
	{
		background:#868579;
	}
	45%
	{
		background:rgb(100,100,100);
	}
	50%
	{
		background:rgb(200,100,150);
	}
	55%
	{
		background:orange;
	}
	60%
	{
		background:#d7e01f;
	}
	65%
	{
		background:#cdc132;
	}
	70%
	{
		background:#bf9640;
	}
	75%
	{
		background:#8b708f;
	}
	80%
	{
		background:#6a9581;
	}
	85%
	{
		background:orange;
	}
	90%
	{
		background:#6f6fff;
	}
	95%
	{
		background:#53a6ac;
	}
	100%
	{
		background:#242424;
	}

}