body
{
	margin: 0px;
	padding: 0px;
}
#header
{
	text-align: center;
	text-shadow: 2px 2px 2px #242424;
}
.content1
{
	height: 150px;
	width: 150px;
	float: left;
	border:0px solid red;
	margin:40px 50px 0px 190px;
	text-align: center;
	border-width: 10px;
	border-radius: 50%;
}
.content1 h2
{
	margin-top: 40px;
}
.content2
{
	height: 150px;
	width: 150px;
	float: left;
	border:2px solid #242424;
	margin:40px 50px 0px 190px;
	text-align: center;
	border-width: 10px;
	border-radius: 50%;
}
.content2 h2
{
	margin-top: 40px;
}
.content3
{
	height: 150px;
	width: 150px;
	float: left;
	border:2px solid #727272;
	margin:40px 50px 0px 190px;
	text-align: center;
	border-width: 10px;
	border-radius: 50%;
}
.content3 h2
{
	margin-top: 40px;
}
.content4
{
	height: 150px;
	width: 150px;
	float: left;
	border:2px solid #767676;
	margin:40px 50px 0px 190px;
	text-align: center;
	border-width: 10px;
	border-radius: 50%;
}
.content4 h2
{
	margin-top: 40px;
}
.content5
{
	height: 150px;
	width: 150px;
	float: left;
	border:0px solid green;
	margin:40px 50px 0px 190px;
	text-align: center;
	border-width: 10px;
	border-radius: 50%;
}
.content5 h2
{
	margin-top: 40px;
}
.content6
{
	height: 150px;
	width: 150px;
	float: left;
	border:2px solid pink;
	margin:40px 50px 0px 190px;
	text-align: center;
	border-width: 10px;
	border-radius: 50%;
}
.content6 h2
{
	margin-top: 40px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 350px;
				margin-top: 400px;
		
                  
			}
			a{
				padding: 30px;
			}
			.click
			{
			  float: right;
			  margin:240px 450px 0px 0px;
			  padding-left: 20px;

			}
			.click i b
			{
				font-size: 1.6em;
				text-decoration: underline;
			}

			.click a:hover 
			{
                   color: green;
                   transition: all 0.8s;
			    	text-decoration: underline;
			}

@media only screen and (max-width: 1250px)
{
	.content1
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content1 h2
{
	margin-top: 40px;
}
.content2
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;

}
.content2 h2
{
	margin-top: 40px;
}
.content3
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content3 h2
{
	margin-top: 40px;
}
.content4
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content4 h2
{
	margin-top: 40px;
}
.content5
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content5 h2
{
	margin-top: 40px;
}
.content6
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content6 h2
{
	margin-top: 40px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 350px;
				margin-top: 400px;
		
                  
			}
			a{
				padding: 30px;
			}
			.click
			{
			  float: right;
			  margin:240px 250px 0px 0px;
			  padding-left: 20px;

			}
			.click i b
			{
				font-size: 1.6em;
				text-decoration: underline;
			}

			.click a:hover 
			{
                   color: green;
                   transition: all 0.8s;
			    	text-decoration: underline;
			}
	}						

@media only screen and (max-width: 1100px)
{
	.content1
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content1 h2
{
	margin-top: 40px;
}
.content2
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;

}
.content2 h2
{
	margin-top: 40px;
}
.content3
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content3 h2
{
	margin-top: 40px;
}
.content4
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content4 h2
{
	margin-top: 40px;
}
.content5
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content5 h2
{
	margin-top: 40px;
}
.content6
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content6 h2
{
	margin-top: 40px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 350px;
				margin-top: 400px;
		
                  
			}
			a{
				padding: 30px;
			}
			.click
			{
			  float: right;
			  margin:240px 250px 0px 0px;
			  padding-left: 20px;

			}
			.click i b
			{
				font-size: 1.6em;
				text-decoration: underline;
			}

			.click a:hover 
			{
                   color: green;
                   transition: all 0.8s;
			    	text-decoration: underline;
			}
	}			
@media only screen and (max-width: 1024px)
{
	.content1
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content1 h2
{
	margin-top: 40px;
}
.content2
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;

}
.content2 h2
{
	margin-top: 40px;
}
.content3
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content3 h2
{
	margin-top: 40px;
}
.content4
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content4 h2
{
	margin-top: 40px;
}
.content5
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content5 h2
{
	margin-top: 40px;
}
.content6
{
	height: 140px;
	width: 140px;
	margin:40px 50px 0px 100px;
}
.content6 h2
{
	margin-top: 40px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 350px;
				margin-top: 400px;
		
                  
			}
			a{
				padding: 30px;
			}
			.click
			{
			  float: right;
			  margin:240px 250px 0px 0px;
			  padding-left: 20px;

			}
			.click i b
			{
				font-size: 1.6em;
				text-decoration: underline;
			}

			.click a:hover 
			{
                   color: green;
                   transition: all 0.8s;
			    	text-decoration: underline;
			}
	}			
@media only screen and (max-width: 950px)
{
	.content1
{
	height: 130px;
	width: 130px;
	margin:40px 40px 0px 60px;
}
.content1 h2
{
	margin-top: 40px;
}
.content2
{
	height: 130px;
	width: 130px;
	margin:40px 40px 0px 60px;

}
.content2 h2
{
	margin-top: 40px;
}
.content3
{
	height: 130px;
	width: 130px;
	margin:40px 40px 0px 60px;
}
.content3 h2
{
	margin-top: 40px;
}
.content4
{
	height: 130px;
	width: 130px;
	margin:40px 40px 0px 60px;
}
.content4 h2
{
	margin-top: 40px;
}
.content5
{
	height: 130px;
	width: 130px;
	margin:40px 40px 0px 60px;
}
.content5 h2
{
	margin-top: 40px;
}
.content6
{
	height: 130px;
	width: 130px;
	margin:40px 40px 0px 60px;
}
.content6 h2
{
	margin-top: 40px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 350px;
				margin-top: 400px;
		
                  
			}
			a{
				padding: 30px;
			}
			.click
			{
			  float: right;
			  margin:240px 200px 0px 0px;
			  padding-left: 20px;

			}
			.click i b
			{
				font-size: 1.4em;
				text-decoration: underline;
			}

			.click a:hover 
			{
                   color: green;
                   transition: all 0.8s;
			    	text-decoration: underline;
			}
	}			
@media only screen and (max-width: 800px)
{
	.content1
{
	height: 120px;
	width: 120px;
	margin:40px 20px 0px 35px;
}
.content1 h2
{
	margin-top: 40px;
}
.content2
{
	height: 120px;
	width: 120px;
	margin:40px 20px 0px 35px;

}
.content2 h2
{
	margin-top: 40px;
}
.content3
{
	height: 120px;
	width: 120px;
	margin:40px 20px 0px 35px;
}
.content3 h2
{
	margin-top: 40px;
}
.content4
{
	height: 120px;
	width: 120px;
	margin:40px 20px 0px 35px;
}
.content4 h2
{
	margin-top: 40px;
}
.content5
{
	height: 120px;
	width: 120px;
	margin:40px 20px 0px 35px;
}
.content5 h2
{
	margin-top: 40px;
}
.content6
{
	height: 120px;
	width: 120px;
	margin:40px 20px 0px 35px;
}
.content6 h2
{
	margin-top: 40px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 310px;
				margin-top: 400px;
		
                  
			}
			a{
				padding: 16px;
			}
			.click
			{
			  float: right;
			  margin:240px 150px 0px 0px;
			  padding-left: 20px;

			}
			.click i b
			{
				font-size: 1em;
				text-decoration: underline;
			}
			.click i
			{
				font-size: 1.7em;
			}

			.click a:hover 
			{
                   color: green;
                   transition: all 0.8s;
			    	text-decoration: underline;
			}
	}

	@media only screen and (max-width: 600px)
{
	.content1
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 20px;
}
.content1 h2
{
	margin-top: 30px;
}
.content2
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 20px;

}
.content2 h2
{
	margin-top: 30px;
}
.content3
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 20px;
}
.content3 h2
{
	margin-top: 30px;
}
.content4
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 20px;
}
.content4 h2
{
	margin-top: 30px;
}
.content5
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 20px;
}
.content5 h2
{
	margin-top: 30px;
}
.content6
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 20px;
}
.content6 h2
{
	margin-top: 30px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 220px;
				margin-top: 350px;
		
                  
			}
			a{
				padding: 10px;
			}
			.click
			{
			  float: right;
			  margin:180px 120px 0px 0px;
			  padding-left: 10px;

			}
			.click i b
			{
				font-size: 1em;
				text-decoration: underline;
			}
            .click i 
			{
				font-size: 1.4em;
				text-decoration: underline;
			}

			
	}


	@media only screen and (max-width: 500px)
{
	.content1
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 60px;
}
.content1 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content2
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 60px;

}
.content2 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content3
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 60px;
}
.content3 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content4
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 60px;
}
.content4 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content5
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 60px;
}
.content5 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content6
{
	height: 100px;
	width: 100px;
	margin:40px 20px 0px 60px;
}
.content6 h2
{
	margin-top: 30px;
	font-size: 15px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 250px;
				margin-top: 450px;
		
                  
			}
			a{
				padding: 8px;
			}
			.click
			{
			  float: right;
			  margin:150px 140px 0px 0px;
			  padding-left: 6px;

			}
			.click i b
			{
				font-size: 1em;
				text-decoration: underline;
			}
            .click i 
			{
				font-size: 1em;
				text-decoration: underline;
			}

			
	}												
	@media only screen and (max-width: 430px)
{
	.content1
{
	height: 100px;
	width: 100px;
	margin:40px 10px 0px 50px;
}
.content1 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content2
{
	height: 100px;
	width: 100px;
	margin:40px 10px 0px 50px;

}
.content2 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content3
{
	height: 100px;
	width: 100px;
	margin:40px 10px 0px 50px;
}
.content3 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content4
{
	height: 100px;
	width: 100px;
	margin:40px 10px 0px 50px;
}
.content4 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content5
{
	height: 100px;
	width: 100px;
	margin:40px 10px 0px 50px;
}
.content5 h2
{
	margin-top: 30px;
	font-size: 15px;
}
.content6
{
	height: 100px;
	width: 100px;
	margin:40px 10px 0px 50px;
}
.content6 h2
{
	margin-top: 30px;
	font-size: 15px;
}


#footer	{

		     background :url('../10.jpg') ;
				width: 100%;
				height: 250px;
				margin-top: 450px;
		
                  
			}
			a{
				padding: 6px;
			}
			.click
			{
			  float: right;
			  margin:150px 100px 0px 0px;
			  padding-left: 4px;

			}
			.click i b
			{
				font-size: 1em;
				text-decoration: underline;
			}
            .click i 
			{
				font-size: 1em;
				text-decoration: underline;
			}

			
	}										