#img
{
  height: 200px;
  width: 200px;
  margin:50px 0px 0px 100px;
  width: 20%;
  float: right;
}
		img{
			width: 200px;
			height: 200px;
			border-radius: 100%;
         
       		}

    #main
      {   
      	float: right;
      	width: 70%;
      	height: 100px;
      }
      #main h2
      {
      	padding: 1px;
      	margin:62px 0px 0px 0px;
      	font-size: 22px;
	    text-shadow: 2px 2px 2px #727272;
      }
	
		#paragraph
		{  

			padding: 27px;
			font-size: 1.2em;	
			}

			#content
			{
  				  height: 900px;
  				float: left;
 				width: 90%;
 				 background-color: #fcfcfc;
 				 font-size: 1.2em;

			}

	    #content h2
         {
              margin-left: 20px;
              font-size: 22px;
	        text-shadow: 2px 2px 2px #727272;
             }
              #content p
              {
               margin-left: 40px;
              }
			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 400px;
				margin-top: 850px;
                  
			}
			a{
				padding: 30px;
			}
			.click
			{
			  float: right;
			  margin:280px 450px 0px 0px;
			  padding-left: 20px;

			}
			.click a:hover 
			{
                   color: green;
                   transition: all 0.8s;
			    	text-decoration: underline;
			}
			.click i
			{
				font-size: 2em;
			}
@media only screen and (max-width: 1150px)
{
	#img
{
  height: 200px;
  width: 200px;
  margin:50px 0px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 200px;
			height: 200px;         
       		}

     	#main

      {   
      	float: right;
      	width: 65%;
      	height: 10px;
      }
      #main h2
      {
      	padding: 5px;
      	margin:5px 0px 0px 0px;
      	 font-size: 18px;
      }
	
		#paragraph
		{  

			padding: 18px;
			font-size: 1.2em;
		width: 92%;
			}
			#content
			{
  				  height: 900px;
 				 font-size: 1.1em;

			}

	    #content h2
         {
            margin-left: 15px;
              font-size: 16px;
             }
    #content p
    {
    	margin-left: 30px;
    }
			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 350px;
				margin-top: 800px;
                  
			}
			a{
				padding: 15px;
			}
			.click
			{
			  float: right;
			  margin:220px 370px 0px 0px;
			  padding-left: 25px;

		}
		.click i
		{
			font-size: 1.8em;
		}

}
@media only screen and (max-width: 1024px)
{
	#img
{
  height: 180px;
  width: 180px;
  margin:50px 0px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 180px;
			height: 180px;         
       		}

     	#main

      {   
      	float: right;
      	width: 65%;
      	height: 10px;
      }
      #main h2
      {
      	padding: 5px;
      	margin:5px 0px 0px 0px;
      	 font-size: 18px;
      }
	
		#paragraph
		{  

			padding: 18px;
			font-size: 1.2em;
		width: 80%;
			}
			#content
			{
				width: 100%;
  				  height: 800px;
 				 font-size: 1.1em;

			}

	    #content h2
         { 
           margin-left: 12px;
              font-size: 16px;
             }
         #content p
        {
    	margin-left: 25px;
         }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 400px;
				margin-top: 800px;
                  
			}
			a{
				padding: 15px;
			}
			.click
			{
			  float: right;
			  margin:320px 350px 0px 0px;
			  padding-left: 25px;

		}
		.click i
		{
			font-size: 1.8em;
		}

}
@media only screen and (max-width: 900px)
{
	#img
{
  height: 160px;
  width: 160px;
  margin:50px 0px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 160px;
			height: 160px;         
       		}

     	#main

      {   
      	float: right;
      	width: 65%;
      	height: 10px;
      }
      #main h2
      {
      	padding: 5px;
      	margin:5px 0px 0px 0px;
      	 font-size: 18px;
      }
	
		#paragraph
		{  

			padding: 18px;
			font-size: 1.2em;
		width: 80%;
			}
			#content
			{
  				  height: 850px;
 				 font-size: 1.1em;
 				 width: 100%;

			}

	    #content h2
         {
           margin-left: 10px;
              font-size: 16px;
             }
    #content p
    {
    	margin-left: 20px;
    }
			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 400px;
				margin-top: 850px;
                  
			}
			a{
				padding: 15px;
			}
			.click
			{
			  float: right;
			  margin:350px 300px 0px 0px;
			  padding-left: 25px;

		}
		.click i
		{
			font-size: 1.6em;
		}
	}

@media only screen and (max-width: 800px)
{
	#img
{
  height: 150px;
  width: 150px;
  margin:50px 0px 0px 80px;
  width: 20%;
  float: right;
}
		img{
			width: 150px;
			height: 150px;         
       		}

     	#main

      {   
      	float: right;
      	width: 65%;
      	height: 10px;
      }
      #main h2
      {
      	padding: 5px;
      	margin:5px 0px 0px 0px;
      	 font-size: 18px;
      }
	
		#paragraph
		{  

			padding: 18px;
			font-size: 1em;
		width: 80%;
			}
			#content
			{  width: 100%;
  				  height: 1100px;
 				 font-size: 1.1em;

			}

	    #content h2
         {
           margin-left: 10px;
              font-size: 16px;
             }
#content p
    {
    	margin-left: 15px;
    }
			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 300px;
				margin-top: 1100px;
                  
			}
			a{
				padding: 15px;
			}
			.click
			{
			  float: right;
			  margin:250px 200px 0px 0px;
			  padding-left: 25px;

		}
		.click i
		{
			font-size: 1.6em;
		}

}
@media only screen and (max-width: 700px)
{
#img
{
  height: 90px;
  width: 90px;
  margin:20px 5px 0px 100px;
  width: 20%;
  float: right;
}
		img{
			width: 85px;
			height: 85px;
	       		}

     	#main
      {   
      	float: right;
      	width: 63%;
      	height: 10px;
      }
      #main h2
      {
      	padding: 1px;
      	margin:1px 0px 0px 0px;
      	 font-size: 16px;
      }
	
		#paragraph
		{  
             
			padding: 5px;
			font-size: 14px;
			width: 100%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1000px;
  				  float: left;
 				 font-size: 1em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 210px;
				margin-top: 1000px;
                  
			}
			a{
				padding: 10px;
			}
			.click
			{
			  float: right;
			  margin:180px 180px 0px 0px;
			  padding-left: 10px;

			}
			.click i
			{
				font-size: 1.6em;
			}
}	
@media only screen and (max-width: 600px)
{
#img
{
  height: 90px;
  width: 90px;
  margin:20px 5px 0px 100px;
  width: 20%;
  float: right;
}
		img{
			width: 85px;
			height: 85px;
	       		}

     	#main
      {   
      	float: right;
      	width: 60%;
      	height: 10px;
      }
      #main h2
      {
      	padding: 1px;
      	margin:1px 0px 0px 0px;
      	 font-size: 16px;
      }
	
		#paragraph
		{  
             
			padding: 5px;
			font-size: 14px;
			width: 100%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1080px;
  				  float: left;
 				 font-size: 1em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 220px;
				margin-top: 1080px;
                  
			}
			a{
				padding: 10px;
			}
			.click
			{
			  float: right;
			  margin:180px 140px 0px 0px;
			  padding-left: 10px;

			}
			.click i
			{
				font-size: 1.6em;
			}
}
@media only screen and (max-width: 480px)
{
#img
{
  height: 90px;
  width: 90px;
  margin:20px 5px 0px 100px;
  width: 20%;
  float: right;
}
		img{
			width: 85px;
			height: 85px;
	       		}

     	#main
      {   
      	float: right;
      	width: 50%;
      	height: 10px;
      }
      #main h2
      {
      	padding: 1px;
      	margin:1px 0px 0px 0px;
      	 font-size: 16px;
      }
	
		#paragraph
		{  
             
			padding: 5px;
			font-size: 13px;
			width: 100%;
		
			}
			#content
			{ 
				width: 100%;
  				  height: 1470px;
  				  float: left;
 				 font-size: 1em;
               padding: 0px;
               margin: 0px;
			}

	    #content h2
         {
            margin-left: 5px;
              font-size: 16px;
             }
             #content p
    {
    	margin-left: 1px;
    }

			#footer
			{
		     background :url('../10.jpg') ;
				width: 100%;
				height: 210px;
				margin-top: 1580px;
                  
			}
			a{
				padding: 8px;
			}
			.click
			{
			  float: right;
			  margin:180px 60px 0px 0px;
			  padding-left: 5px;

			}
			.click i
			{
				font-size: 1.2em;
			}
}					
			